*, *::before, *::after{ box-sizing: border-box; }
/* common */
body{
    color: #333333;
    font-size: 24px;
    line-height: 1.3;
    font-family: 'Noto Sans JP', sans-serif;
}
.row{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}
nav{
    width: 100vh;
    height: 80px;
}
nav img{
    padding-top: 20px;
    padding-left: 60px;
}
/* header */
header{
    width: 100vw;
    height: 100vh;
    background: url(../img/facilities9.png) no-repeat center center;
    background-size: cover;
    position: relative;
}
.text-area{
    width: 550px;
    height: 440px;
    background-color: #151442;
    border-radius: 50px;
    position: absolute;
    top: 80px;
    left: 162px;
}
.text-area h1{
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.text-area h2{
    color: #fff;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:50px;
}
.application-area img{
    width: 224px;
    height: 332px;
    position: absolute;
    right: 120px;
    bottom: 10px;
    animation-name: yurayura;
    animation-duration: 3s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.application-area h2{
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: absolute;
    right: 170px;
    bottom: 130px;
    animation-name: yurayura;
    animation-duration: 3s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.application-area h2:hover{
    text-shadow:3px 3px 0 #666;
}
@keyframes yurayura {
    0%{
        transform: rotate(10deg);}
    50%{
        transform: rotate(-10deg);}
    100%{
        transform: rotate(10deg);}
  }
/* production-area */
.production-area{
    padding: 80px 0;
}
.production-area h2{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 80px;
}
.product{
    height: 255px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product:nth-of-type(2){
    flex-direction: row-reverse;
}
.text-box{
    width: 60%;
    height: 111px;
    background-color: #151442;
    border-radius: 20px 0 0 20px;
}
.text-box-reverse{
    border-radius: 0 20px 20px 0;
}
.product a{
    display: block;
    height: 255px;
    width: 32%;
    margin: 0 auto;
}
.product img{
    width: 100%;
    border: 1px solid #333333;
    border-radius: 10px;
}
.product h3{
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 27px;
}
.production-area p{
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}
.production-area img:hover{
    filter: brightness(40%);
}
  
/* recommend-area */
.main-area{
    background-color: #151442;
    padding: 40px 0 80px;
    width: 100%;
}
.main-area h2{
    color: #ffffff;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 64px;
    padding-top: 36px;
    text-align: center;
}
.block-area{
    display: flex;
    justify-content: space-between;
}
.main-block{
    background-color: #fff;
    width: 340px;
    border-radius: 30px;
    padding: 40px;
}
.main-box{
    width: 230px;
    height: 120px;
    border-radius: 20px 0;
    background-color: #f0942c;
    margin: 0 auto 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-box h3{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.text-area-r{
    margin-bottom: 32px;
}
.text-area-r p{
    font-size: 18px;
    text-align: left;
    line-height: 1.8;
}
.img-box .soft{
    width: 200px;
    height: 120px;
}
.img-box img{
    width: 283px;
    height: 181px;
    padding-right: 30px;
}
/* support-area */
.support-area{
    height: 420px;
    padding-top: 80px;
    background-color: #fff;
}
.character-area{
    padding-right: 60px;
    position: relative;
}
.character-area img{
    width: 433px;
    height: 340px;
    position: absolute;
    left: 120px;
    top: 0;
}
.character-area p{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 165px;
    left: 170px;
}
.character-area p:hover{
    text-shadow:3px 3px 0 #666;
}
.character-area h2{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 170px;
    right: 200px;
}
.support_block-area{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto 80px auto;
}
.support_main-box-b{
    width: 100%;
    border-radius: 50px 50px 0 0;
    background-color: #151442;
    margin-top: 80px;
}
.support_main-box-w{
    width: 100%;
    border-radius: 50px 50px 0 0;
    background-color: #fff;
    border: 3px solid #151442;
    margin-top: 80px;
}
.support_main-box-b h2{
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 40px;
}
.content-area{
    display: flex;
    justify-content: center;
    text-align: center;
}
.content-area p{
    color: #fff;
    font-size: 20px;
    text-align: left;
    line-height: 1.8;
    width: 60%;
    padding: 0 30px 30px;
}
.support_block-area figure{
    width: 40%;
    border-radius: 20px;
    padding: 0 30px 30px;
}
.support_main-box-w h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 40px;
}
.support_main-box-w p{
    color: #333333;
    font-size: 20px;
    text-align: left;
    padding: 0 30px 30px;
    line-height: 1.8;
    width: 60%;
}
.application-img2{
    text-align: center; 
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.application-img2 img{
    width: 900px;
    position: relative;
}
.application-img2 h2{
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.application-img2 h2:hover{
    text-shadow:5px 5px 0 #666;
}
/* footer */
footer{
    width: 100%;
    height: 200px;
    background-color: #ccc;
}
footer img{
    width: 253px;
    height: 72px;
    padding-top: 40px;
    padding-left: 60px;
}
.nav{
  list-style: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav li{
    width: 150px;
    text-align: center;
    float: left;
}
.nav li a{
    color: #656565;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}