*, *::before, *::after{ box-sizing: border-box; }
/* common */
body{
    max-width: 1200px;
    color: #333333;
    font-size: 24px;
    line-height: 1.3;
    /* background-color: #ffffff; */
    font-family: 'Noto Sans JP', sans-serif;
}
nav{
    width: 100vh;
    height: 80px;
}
nav img{
    padding-top: 20px;
    padding-left: 60px;
}
/* header */
header{
    width: 100vw;
    height: 100vh;
    background: url(../img/facilities9.png) no-repeat center center;
    background-size: cover;
    position: relative;
}
.text-area{
    width: 550px;
    height: 440px;
    background-color: #151442;
    border-radius: 50px;
    position: absolute;
    top: 80px;
    left: 162px;
}
.text-area h1{
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.text-area h2{
    color: #fff;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:50px;
}
.application-area img{
    width: 224px;
    height: 332px;
    position: absolute;
    right: 120px;
    bottom: 10px;
    animation-name: yurayura;
    animation-duration: 3s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.application-area h2{
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: absolute;
    right: 170px;
    bottom: 130px;
    animation-name: yurayura;
    animation-duration: 3s;
    animation-delay: 0;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.application-area h2:hover{
    text-shadow:3px 3px 0 #666;
}
@keyframes yurayura {
    0%{
        transform: rotate(10deg);}
    50%{
        transform: rotate(-10deg);}
    100%{
        transform: rotate(10deg);}
  }
/* production-area */
.production-area{
    padding: 80px 0;
}
.production-area h2{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 80px;
}
.train{
    height: 255px;
    margin-bottom: 80px;
    position: relative;
}
.train img{
    width: 400px;
    height: 255px;
    border: 1px solid #333;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 60px;
}
.text-box01{
    width: 683px;
    /* 画面いっぱいにしたい */
    height: 111px;
    background-color: #151442;
    border-radius: 20px 0 0 20px;
    position: absolute;
    top: 72px;
    left: 516px;
}
.production-area h3{
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 27px;
}
.production-area p{
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}
.apparel{
    height: 255px;
    position: relative;
}
.apparel img{
    width: 400px;
    height: 255px;
    border: 1px solid #333;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 60px;
}
.text-box02{
    width: 683px;
    height: 111px;
    background-color: #151442;
    border-radius: 0 20px 20px 0;
    position: absolute;
    top: 72px;
    right: 516px;
}
.production-area .img:hover {
        filter: brightness(40%);
      }
        
/* recommend-area */
.main-area{
    background-color: #151442;
    height: 995px;
    width: 100%;
}
.main-area h2{
    color: #ffffff;
    font-weight: bold;
    font-size: 36px;
    padding-top: 80px;
    /* padding-bottom: 80px; */
    text-align: center;
}
.block-area{
    width: 1080px;
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;

}
.main-block{
    background-color: #fff;
    width: 340px;
    height: 730px;
    border-radius: 30px;
    margin-right: 30px;
    position: relative;
}
.main-box{
    width: 230px;
    height: 120px;
    border-radius: 20px 0;
    background-color: #f0942c;
    position: absolute;
    top: 40px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-box h3{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.text-area-r{
    position: absolute;
    top: 200px;
    left: 15px;
}
.text-area-r p{
    font-size: 18px;
    text-align: left;
    line-height: 1.8;
}
.img-box{
    position: absolute;
    left: 25px;
    bottom: 50px;
}
.img-box-s{
    position: absolute;
    left: 45px;
    bottom: 50px;
}
.img-box .soft{
    width: 200px;
    height: 120px;
}
.img-box img{
    width: 283px;
    height: 181px;
}
/* support-area */
.support-area{
    height: 420px;
    padding-top: 80px;
}
.character-area{
    padding-right: 60px;
    position: relative;
}
.character-area img{
    width: 433px;
    height: 340px;
    position: absolute;
    left: 120px;
    top: 0;
}
.character-area p{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 165px;
    left: 170px;
}
.character-area p:hover{
    text-shadow:3px 3px 0 #666;
}
.character-area h2{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 170px;
    right: 200px;
}
.support_block-area{
    height: 2530px;
}
.support_main-box-b{
    width: 1080px;
    height: 555px;
    border-radius: 50px 50px 0 0;
    background-color: #151442;
    margin-top: 80px;
    margin-left: 60px;
    position: relative;
}
.support_main-box-w{
    width: 1080px;
    height: 555px;
    border-radius: 50px 50px 0 0;
    background-color: #fff;
    border: 3px solid #151442;
    margin-top: 80px;
    margin-left: 60px;
    position: relative;
}
.support_main-box-b h2{
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}
.support_main-box-b p{
    color: #fff;
    font-size: 22px;
    text-align: left;
    padding-left: 30px;
    padding-top: 60px;
    line-height: 1.8;
}
.support_block-area img{
    height: 380px;
    width: 380px;
    border-radius: 20px;
    position: absolute;
    top: 140px;
    right: 30px;
}
.support_main-box-w h2{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}
.support_main-box-w p{
    font-size: 22px;
    text-align: left;
    padding-left: 30px;
    padding-top: 60px;
    line-height: 1.8;
}
.application-img{
    text-align: center;
    position: relative;
}
.application-img img{
    width: 974px;
    height: 330px;
}
.application-img h2{
    color: #fff;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 150px;
    left: 220px;
}
.application-img h2:hover{
    text-shadow:5px 5px 0 #666;
}
/* footer */
footer{
    width: 100%;
    height: 200px;
    background-color: #ccc;
}
footer img{
    width: 253px;
    height: 72px;
    padding-top: 40px;
    padding-left: 60px;
}
.nav{
  list-style: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav li{
    width: 150px;
    text-align: center;
    float: left;
}
.nav li a{
    color: #656565;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}